.messageList {
  display: block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* .message, body { } */

.rootMessage {
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

.message {
  display: block;
  border: 1px groove;
  max-width: 100%;
  background-color: white;
  padding: 10px 5px 5px 10px;
  margin: 8px 0px 0px 0px;
}

.replyButton {
  font-size: 12px;
  cursor: pointer;
  background-color: whitesmoke;
}

input[type="submit"] {
  background-color: whitesmoke;
}

.messageInput {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
